<div class="flex flex-col gap-4">
  <div class="text-white w-96 flex flex-col gap-4">
    <h2>Welcome to Dev-Duel</h2>
    <p>
      Dev Duel is a fun and interactive web app where two GitHub users go
      head-to-head in a stat-based showdown.
    </p>
    <p>
      Enter two usernames, hit “Duel,” and watch as animated characters battle it
      out, all powered by real GitHub data like stars, followers, and top repos.
    </p>
    <p>
      Built with an Angular frontend and a Node.js/Express backend, the app
      fetches data from the GitHub API and visualizes it with custom graphics and
      animations.
    </p>
  </div>
  <div class="flex flex-row gap-4">
    <app-link-button linkText="/inspect" text="Inspect"></app-link-button>
    <app-link-button linkText="/duel" text="Duel"></app-link-button>
  </div>
</div>
