<nav class="flex flex-col lg:flex-row lg:items-center lg:gap-12 pb-8">
  <a routerLink="/">
    <h1 class="font-bulletproof text-red-600 text-5xl lg:text-9xl">Dev Duel</h1>
  </a>

  <div class="flex flex-col">
    <a routerLink="/inspect">
      <h1
        class="font-bulletproof text-white text-3xl hover:text-orange-600"
        routerLinkActive="text-orange-600"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Inspect
      </h1>
    </a>

    <a routerLink="/duel">
      <h1
        class="font-bulletproof text-white text-3xl hover:text-orange-600"
        routerLinkActive="text-orange-600"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Duel
      </h1>
    </a>
  </div>
</nav>
